h1, p, .question {
	text-align: center;
}

.btn, .jumbotron {
	background-color: #CF5300;
	border-color: black;
}

.btn:hover, .btn:active, .btn:focus {
	background-color: #8e3e09;
	border-color: black;
}

#start, #restartGame {
	width: 80%;
	margin: 15px 10%;
	height: 100px;
	padding: 40px;
}

.time, #holder {
	display: none;
}

.answer {
	display: block;
	margin: 10px;
	margin-left: 20%;
	width: 60%;
}

#finalResults {
	margin-right: 10%;
	margin-left: 10%;
}

h2 {
	margin-top: 5px;
	text-align: center;
}

h4 {
	text-align: center;
}

img {
	margin-bottom: 30px;
	margin-left: 38%;
	height: 250px;
	width: 300px;
}